@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Bungee');

canvas {
  border: 1px solid blue;
  margin-top: 10px;
}

progress {
  width: 300px;
}

header {
  padding: 1em;
  background-color: lightgrey;
  font: 26px "Bungee";
  text-align: center;
}

body {
    margin: 20px;
}

p {
  font: 16px "Play", sans-serif;
}
